@model Authentication.Models.Account.LogoutViewModel

<div class="container account-container py-5 my-auto">
  <div class="card">
    <div class="card-decor d-none d-sm-block">
      <div class="card-decor-t"></div>
      <div class="card-decor-b"></div>
    </div>
    <div class="card-body">
      <h4 class="card-title text-center py-3">Logout</h4>
      <p class="text-center">Would you like to log out?</p>

      <input type="hidden" name="logoutId" value="@Model.LogoutId" />
      <fieldset>
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary w-50" name="button" type="submit">Yes</button>
          <a href="/" class="btn btn-secondary w-50">Back to My Account</a>
        </div>
      </fieldset>
    </div>
  </div>
</div>