<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">

  <extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    <add assembly="NLog.Extensions.AzureBlobStorage" />
  </extensions>
  <!-- define various log targets -->
  <targets async="true">
    <target type="ApplicationInsightsTarget" name="aiTarget" />
    <target xsi:type="Trace" name="trace" layout="${message}" />

    <target xsi:type="Null" name="blackhole" />

    <target type="AzureBlobStorage" name="AzureStorage" container="authorization" blobName="logs/${date:universalTime=true:format=yyyy-MM-dd}-saas.log" retryCount="10"
        connectionString="${gdc:item=AzureLogStorageConnectionString}">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate:universalTime=true}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
        <attribute name="mvc-action" layout="${aspnet-mvc-action}" />
        <attribute name="mvc-controller" layout="${aspnet-mvc-controller}" />
        <attribute name="ip" layout="${aspnet-request-ip}" />
        <attribute name="method" layout="${aspnet-request-method}" />
        <attribute name="querystring" layout="${aspnet-request-querystring}" />
        <attribute name="url" layout="${aspnet-request-url}" />
        <attribute name="useragent" layout="${aspnet-request-useragent}" />
        <attribute name="traceidentifier" layout="${aspnet-traceidentifier}" />
        <attribute name="identity" layout="${aspnet-user-identity}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="System.Net.Http.HttpClient.*" maxlevel="Info" writeTo="blackhole" final="true" />
    <logger name="CorrelationId.CorrelationIdMiddleware" maxlevel="Info" writeTo="blackhole" final="true" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="Hangfire.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <logger name="*" minlevel="Trace" writeTo="AzureStorage" />
  </rules>
</nlog>