<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="true" stdoutLogFile="LogFiles\stdout" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44323" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.101\DotnetTools\dotnet-watch\6.0.101-servicing.21569.16\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Professional\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:51347/Authentication/" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA00KJHdBHiR/rFq4BGl+X/r2eIUJwPGUGU303QaeDMnHt/KCKV23KoUouDYe3DSjBpFkBio+uloPleQKs29StcOqtSvjOGK57xSbheSeGBwJsEO7vpYAEywPzjgwabt5b2viHqtHNZGFvnYLs3Udm4dzaiksAsjJehz/OSY0ay3CEIEnEjGtsvUedxGKkX0s6jE2TjeaJ9zheSudM8K/QbChq449pvSvLIN6Hgx3mVM4EX40Gzl8xzZsmDSJ5B/GxPuGTptNfPrq0YV3611S5SgyHYXcNcWtJrhBkWmHrEPVSAj4b5Rr1Ec8rG+aezNM/8uuUbcq1drNZ3HF1fpMPIQIDAQAB" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>