@model Authentication.Models.PasswordReset.ForgotPasswordModel

<div class="container login-container">
    <div class="row justify-content-center align-items-center">

        <h1 class="text-center mb-3">Password Retrieval</h1>

        <form asp-route="Login" class="col-lg-6 needs-validation" novalidate>
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-floating mb-3 has-validation">
                <input type="text" class="form-control form-control-lg" placeholder="" asp-for="Email" autofocus pattern=".+@@.+\..+" fieldsize="large" required />
                <label asp-for="Email" class="">Email address</label>
                <p><small>You will receive a link to set your new password.</small></p>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg" name="button" type="submit" value="submit">Submit</button>
            </div>
        </form>

    </div>

</div>