
<div class="container logout-container">
    <div class="row justify-content-center align-items-center">

        <div class="col-lg-6">
            <h1>Password Retrieval</h1>

            <div class="sub-title">If your account exists and allows resetting password, you will receive an email with instructions shortly.</div>

        </div>
    </div>
</div>

