<div class="container py-5 my-auto">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <h1 class="text-center mb-5">Password Reset</h1>
            <p class="text-center">If your account exists and allows resetting password, you will receive an email with instructions shortly.</p>
        </div>
    </div>
</div>

