@model Authentication.Models.PasswordReset.ResetPasswordModel 

<h1>Choose a new password</h1>

<form asp-action="ResetPassword">

    @Html.ValidationSummary()

        <input type="hidden" asp-for="Code" />

        <div class="field-wrap">
            <label style="width:160px;">Email:</label>
            <input type="email" asp-for="Email" />
        </div>

        <div class="field-wrap">
            <label style="width:160px;">New Password:</label>
            <input type="password" asp-for="Password" />
        </div>

        <div class="field-wrap">
            <label style="width:160px;">Confirm Password:</label>
            <input type="password" asp-for="ConfirmPassword" />
        </div>

        <input value="Update Password" class="btn btn-primary" type="submit" />
    
</form>