@model Authentication.Models.PasswordReset.ResetPasswordModel

<div class="container py-5 my-auto">
    <div class="row">

        <h1 class="text-center mb-5">Choose a new password</h1>

        <form asp-route="ResetPassword" class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 needs-validation" novalidate>
            <input type="hidden" asp-for="ReturnUrl" />
            <input type="hidden" asp-for="Code" />

            <div class="form-floating mb-3 has-validation">
                <input type="text" class="form-control form-control-lg" placeholder="" asp-for="Email" pattern=".+@@.+\..+" autofocus fieldsize="large" required />
                <label asp-for="Email" class="">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control form-control-lg" placeholder="New Password *" asp-for="Password" autocomplete="off" required />
                <label asp-for="Password" class="form-label">New Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control form-control-lg" placeholder="Confirm Password *" asp-for="ConfirmPassword" autocomplete="off" required />
                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            
            <button class="btn btn-primary btn-lg w-100" name="button" type="submit">Update Password</button>
        </form>
    </div>
</div>
