
<div class="container account-container py-5 my-auto">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <h1 class="text-center">Password Reset</h1>
            <p class="text-center">Your password has been successfully changed</p>
            
            <fieldset>
                <a asp-action="Login" asp-controller="Account" class="btn btn-primary btn-lg mt-5 w-100" asp-route-returnUrl="@ViewData["ReturnUrl"]">Login</a>
            </fieldset>
        </div>
    </div>
</div>
