html {
  color: rgb(var(--theme-text-color));
}

body {
  background-color: var(--theme-main-bg-color);
}

/* Buttons & Links */
.btn-primary {
  color: var(--theme-primary-color);
  background-color: rgb(var(--theme-primary-bg-color-rgb));
  border-color: rgb(var(--theme-primary-bg-color-rgb));
  transition: opacity .15s ease-out;
}

.btn-primary:focus, .btn-primary:hover {
  color: var(--theme-primary-color);
  background-color: rgb(var(--theme-primary-bg-color-rgb));
  border-color: rgb(var(--theme-primary-bg-color-rgb));
  opacity: 0.8;
}

a {
  color: rgb(var(--theme-primary-bg-color-rgb));
  transition: opacity .15s ease-out;
}

a:hover {
  color: rgb(var(--theme-primary-bg-color-rgb));
  opacity: 0.8;
}
/* /Buttons & Links */

/* Forms */
.form-check-input, .form-check-label {
  cursor: pointer;
}

.form-check-input:focus {
  box-shadow: 0 0 0 .25rem rgb(var(--theme-primary-bg-color-rgb), .25);
}

.form-check-input:checked {
  background-color: rgb(var(--theme-primary-bg-color-rgb));
  border-color: rgb(var(--theme-primary-bg-color-rgb));
}

.form-control:focus, .form-control:hover {
  color: var(--theme-text-color);
  border-color: rgb(var(--theme-primary-bg-color-rgb));
  box-shadow: 0 0 0 .25rem rgb(var(--theme-primary-bg-color-rgb), .25);
}
/* /Forms */

/* Dividers */
.divider {
  position: relative;
  display: block;
  text-align: center;
}

.divider::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 1px solid rgb(var(--theme-text-color));
  opacity: 0.15;
}

.divider .divider-text {
  position: relative;
  display: inline-block;
  color: rgb(var(--theme-text-color), 0.7);
  background-color: var(--theme-container-bg-color);
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  z-index: 1;
}
/* /Dividers */

.navbar {
  display: block;
}

.navbar-brand {
  height: 100px;
}

.navbar .icon-banner {
  position: relative;
  top: -2px;
  display: inline;
  max-width: 350px;
  max-height: 80px;
}

.login-container h1,
.logout-container h1 {
  color: rgb(var(--theme-text-color));
}

.icon {
  position: relative;
  top: -10px;
}

.logged-out iframe {
  display: none;
  width: 0;
  height: 0;
}

.page-consent .client-logo {
  float: left;
}

.page-consent .client-logo img {
  width: 80px;
  height: 80px;
}

.page-consent .consent-buttons {
  margin-top: 25px;
}

.page-consent .consent-form .consent-scopecheck {
  display: inline-block;
  margin-right: 5px;
}

.page-consent .consent-form .consent-description {
  margin-left: 25px;
}

.page-consent .consent-form .consent-description label {
  font-weight: normal;
}

.page-consent .consent-form .consent-remember {
  padding-left: 16px;
}

.grants .page-header {
  margin-bottom: 10px;
}

.grants .grant {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.grants .grant img {
  width: 100px;
  height: 100px;
}

.grants .grant .clientname {
  font-size: 140%;
  font-weight: bold;
}

.grants .grant .granttype {
  font-size: 120%;
  font-weight: bold;
}

.grants .grant .created {
  font-size: 120%;
  font-weight: bold;
}

.grants .grant .expires {
  font-size: 120%;
  font-weight: bold;
}

.grants .grant li {
  list-style-type: none;
  display: inline;
}

.grants .grant li:after {
  content: ', ';
}

.grants .grant li:last-child:after {
  content: '';
}

.validation-summary-errors {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--bs-danger);
}

.field-validation-error {
  width: 100%;
  display: block;
  font-size: 0.875em;
  color: var(--bs-danger);
}

.input-validation-error {
  border-color: var(--bs-danger);
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

/**********************************/
.error-page {
  margin-top: 5%;
  text-align: center;
}

.error-page img {
  width: 40%;
  max-width: 420px;
}

.error-page h2 {
  color: #3d4145;
  font-size: 32px;
  font-weight: 700;
}

.error-page h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.error-page .error {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0vw;
  color: rgba(0, 0, 0, 0.02);
  font-size: 25vw;
  text-align: center;
  font-weight: 900;
  font-family: sans-serif;
  pointer-events: none;
}

.error-page .button {
  display: inline-block;
  line-height: 1.25;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  margin: 1.8rem;
  padding: 1rem 1.8rem;
  font-size: 1rem;
  border-radius: 25rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  position: relative;
  background-image: -webkit-linear-gradient(356deg, #ee5154, #fb7100);
  background-image: -o-linear-gradient(356deg, #ee5154, #fb7100);
  background-image: linear-gradient(94deg, #ee5154, #fb7100);
  -webkit-box-shadow: 0 30px 65px -10px rgba(255, 139, 44, 0.6);
  box-shadow: 0 30px 65px -10px rgba(255, 139, 44, 0.6);
}

.error-page .button:hover {
  -webkit-box-shadow: 0 20px 65px -10px rgba(255, 139, 44, 0.4);
  box-shadow: 0 20px 65px -10px rgba(255, 139, 44, 0.4);
}

@media (max-width: 500px) {
  header {
    position: relative;
    padding: 0px 20px;
    text-align: center;
  }

  header a {
    display: inline-block;
    padding: 0 10px;
  }

  header .divider {
    display: inline-block;
    border-bottom: solid 1px #ccc;
    margin: 20px 0;
  }

  .error-page .error {
    top: 50vw;
  }
}

@media (min-width: 768px) {

  .login-container,
  .logout-container {
    margin: 10% auto;
  }
}

body.offline .app-offline {
  display: block !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}