:root {
    --theme-main-bg-color: #ffffff;
    --theme-container-bg-color: #ffffff;
    --theme-text-color: 51, 51, 51;
    --theme-primary-bg-color-rgb: {{PrimaryColorRgb}};
    --theme-primary-color: #ffffff;
    --theme-accent-bg-color-rgb: {{SecondaryColorRgb}};
    --theme-accent-color: #ffffff;
}
