/* :root {
  --theme-main-bg-color: #ffffff;
  --theme-container-bg-color: #ffffff;
  --theme-text-color: 51, 51, 51;
  --theme-primary-bg-color-rgb: 77, 199, 239;
  --theme-primary-color: #ffffff;
  --theme-accent-bg-color-rgb: 2, 103, 170;
  --theme-accent-color: #ffffff;
} */

/* Theme: Modern */
:root {
  --theme-main-bg-color: #f8f8f8;
  --theme-container-bg-color: #ffffff;
  --theme-text-color: 88, 104, 115;
  --theme-primary-bg-color-rgb: 77, 199, 239;
  --theme-primary-color: #ffffff;
  --theme-accent-bg-color-rgb: 2, 103, 170;
  --theme-accent-color: #ffffff;
}