@model Authentication.Models.Account.ChangePasswordViewModel

<div class="container login-container">
    <div class="row justify-content-center align-items-center">

        <h1 class="text-center mb-3">Choose a new password</h1>

        <form asp-route="ResetPassword" class="col-lg-6 needs-validation" novalidate>
            <input type="hidden" asp-for="ReturnUrl" />

            <div class="form-floating mb-3">
                <input type="password" class="form-control form-control-lg" placeholder="Current Password *" asp-for="OldPassword" autocomplete="off" required />
                <label asp-for="OldPassword" class="form-label">Current Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control form-control-lg" placeholder="New Password *" asp-for="NewPassword" autocomplete="off" required />
                <label asp-for="NewPassword" class="form-label">New Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control form-control-lg" placeholder="Confirm New Password *" asp-for="ConfirmPassword" autocomplete="off" required />
                <label asp-for="ConfirmPassword" class="form-label">Confirm New Password</label>
                @Html.ValidationMessageFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg" name="button" type="submit">Update Password</button>
            </div>
        </form>
    </div>
</div>
