
<div class="container logout-container">
    <div class="row justify-content-center align-items-center">

        <div class="col-lg-6">
            <h1>Change Password</h1>

            <div class="sub-title">Your password has been successfully changed</div>

            <fieldset>
                <div class="gap-2 row mt-5">
                    <a href="/" class="btn btn-primary btn-lg col">Back to My Account</a>
                </div>
            </fieldset>
        </div>
    </div>
</div>
