@model Authentication.Models.Account.LogoutViewModel

<div class="container account-container">
    <div class="row py-5 my-auto">
        
        <form asp-action="Logout" class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 ">
            <h1 class="text-center">Logout</h1>

            <p class="text-center">Would you like to log out?</p>

            <input type="hidden" name="logoutId" value="@Model.LogoutId" />
            <fieldset>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary btn-lg w-50" name="button" type="submit">Yes</button>
                    <a href="/" class="btn btn-secondary btn-lg w-50">Back to My Account</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>