@model Authentication.Models.Account.LogoutViewModel

<div class="container logout-container">
    <div class="row justify-content-center align-items-center">
        
        <form asp-action="Logout" class="col-lg-6">
            <h1>Logout</h1>

            <p>Would you like to log out?</p>

            <input type="hidden" name="logoutId" value="@Model.LogoutId" />
            <fieldset>
                <div class="gap-2 row">
                    <button class="btn btn-primary btn-lg col" name="button" type="submit">Yes</button>
                    <a href="/" class="btn btn-secondary btn-lg col">Back to My Account</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>