@model Authentication.Models.Account.ChangePasswordViewModel

<div class="container account-container py-5 my-auto">
    <div class="card">
    <div class="card-decor d-none d-sm-block">
      <div class="card-decor-t"></div>
      <div class="card-decor-b"></div>
    </div>
    <div class="card-body">
      <h4 class="card-title text-center py-3">Choose a new password</h4>
      
      <form asp-route="ResetPassword" class="needs-validation" novalidate>
        <input type="hidden" asp-for="ReturnUrl" />

        <div class="mb-3">
            <label asp-for="OldPassword" class="form-label">Current Password</label>
            <input type="password" class="form-control" placeholder="Current Password *" asp-for="OldPassword" autocomplete="off" required />
        </div>
        <div class="mb-3">
          <label asp-for="NewPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" placeholder="New Password *" asp-for="NewPassword" autocomplete="off" required />
        </div>
        <div class="mb-3">
          <label asp-for="ConfirmPassword" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" placeholder="Confirm New Password *" asp-for="ConfirmPassword" autocomplete="off" required />
            @Html.ValidationMessageFor(m => m.OldPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>

        <button class="btn btn-primary w-100" name="button" type="submit">Update Password</button>
        </form>
    </div>
  </div>
</div>
