@{ Layout = "~/Views/EmailTemplates/_Layout.cshtml"; }
@model Authentication.Models.Messages.ChangePasswordConfirmationEmailMessage

<h1><span>Hi @Model.FirstName,</span></h1>
<div>
    <p>
        Your password has been changed<br /><br />

        Thanks,<br />
        The team at BeyondAuth
    </p>
</div>