@{ Layout = "~/Views/EmailTemplates/_Layout.cshtml"; }
@model Authentication.Models.Messages.ResetPasswordEmailMessage

<h1><span>Hi @Model.FirstName,</span></h1>
<div>
    <p>
        To set a new password click on the following link:<br /><br />

        <a href="@Model.CallbackUrl">Set new password!</a><br /><br />

        Thanks,<br />
        The team at BeyondAuth
    </p>
</div>