@model Authentication.Models.PasswordReset.ForgotPasswordModel

<div class="container account-container py-5 my-auto">
    <div class="card">
        <div class="card-decor d-none d-sm-block">
            <div class="card-decor-t"></div>
            <div class="card-decor-b"></div>
        </div>
        <div class="card-body">
            <h4 class="card-title text-center py-3">Password Reset</h4>

            <form asp-route="Login" class="needs-validation" novalidate>
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="mb-3 has-validation">
                    <label asp-for="Email" class="form-label">Email address</label>
                    <input type="text" class="form-control" placeholder="" asp-for="Email" autofocus pattern=".+@@.+\..+" fieldsize="large" required />
                    <small>You will receive a link to set your new password.</small>
                </div>

                <button class="btn btn-primary w-100" name="button" type="submit" value="submit">Submit</button>

                <div class="text-center mt-3">
                    <a asp-action="Login" asp-controller="Account" class="link-dark" asp-route-returnUrl="@Model.ReturnUrl">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</div>