<div class="container account-container py-5 my-auto">
  <div class="card">
    <div class="card-decor d-none d-sm-block">
      <div class="card-decor-t"></div>
      <div class="card-decor-b"></div>
    </div>
    <div class="card-body">
      <h4 class="card-title text-center py-3">Password Reset</h4>
      <p class="text-center mb-3">If your account exists and allows resetting password, you will receive an email with instructions shortly.</p>
    </div>
  </div>
</div>