<div class="container account-container py-5 my-auto">
  <div class="card">
    <div class="card-decor d-none d-sm-block">
      <div class="card-decor-t"></div>
      <div class="card-decor-b"></div>
    </div>
    <div class="card-body">
      <h4 class="card-title text-center py-3">Password Reset</h4>
      <p class="text-center mb-3">Account not found, or password reset is not allowed by the organization. Please contact your administrator.</p>
    </div>
  </div>
</div>