@model Authentication.Models.PasswordReset.ResetPasswordModel

<div class="container account-container py-5 my-auto">
  <div class="card">
    <div class="card-decor d-none d-sm-block">
      <div class="card-decor-t"></div>
      <div class="card-decor-b"></div>
    </div>
    <div class="card-body">
      <h4 class="card-title text-center py-3">Choose a new password</h4>
      
      <form asp-route="ResetPassword" class="needs-validation" novalidate>
        <input type="hidden" asp-for="ReturnUrl" />
        <input type="hidden" asp-for="Code" />

        <div class="mb-3 has-validation">
          <label asp-for="Email" class="form-label">Email address</label>
          <input type="text" class="form-control" placeholder="" asp-for="Email" pattern=".+@@.+\..+" autofocus fieldsize="large" required />
        </div>
        <div class="mb-3">
          <label asp-for="Password" class="form-label">New Password</label>
          <input type="password" class="form-control" placeholder="New Password *" asp-for="Password" autocomplete="off" required />
        </div>
        <div class="mb-3">
          <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" placeholder="Confirm Password *" asp-for="ConfirmPassword" autocomplete="off" required />
          @Html.ValidationMessageFor(m => m.Password)
        </div>
        
        <button class="btn btn-primary w-100" name="button" type="submit">Update Password</button>
      </form>
    </div>
  </div>
</div>