
<main class="error-page">
    <div class="error">offline</div>
    <img src="/img/offline.png" />
    <h2>You are offline</h2>
    <h6>We can't reach the page<br />Try again later</h6>
</main>
<script type="text/javascript" src="~/js/offline.js"></script>