

<main class="error-page">
    <div class="error">404</div>
    <img src="/img/notfound.png" />
    <h2>Broken Link</h2>
    <h6>Somthing went wrong, please<br />Try again later</h6>
    <a href="/" class="button">Return Home</a>
</main>